@font-face {
    font-family: 'workSans';
    src: url(fonts/WorkSans.ttf);
}

body {
    background-image: url(img/bg.gif);
    background-color: #ffa1f5;
}

.maindiv {
    background-color: #dffed8;
    position: absolute;
    border-radius: 10%;
    width: 440px;
    height: 400px;
    margin-left: 47.5%;
    margin-top: 11%;
}

.lovecounter {
    position: absolute;
    margin-left: 16%;
    width: 70%;
    height: 55%;
}

.counteritem {
    margin-left: 15%;
    margin-top: 50%;
    font-size: large;
}

#main_text {
    position: absolute;
    font-family: 'WorkSans';
    font-weight: bolder;
    font-size: xx-large;
    color: #5272F2;
    text-align: center;
}

@media screen and (max-width: 360px) {
    body {
        background-image: url("img/ph_bg.gif");
    }

    .maindiv {
        background-color: #dffed8;
        position: absolute;
        border-radius: 10%;
        width: 200px;
        height: 200px;
        margin-left: 22.5%;
        margin-top: 125%;
    }

    .lovecounter {
        position: absolute;
        margin-left: 13%;
        width: 80%;
        height: 60%;
    }

    .counteritem {
        margin-left: 4%;
        margin-top: 65%;
    }

    #main_text {
        position: absolute;
        font-family: 'WorkSans';
        font-weight: bolder;
        font-size: 20px;
        color: #5272F2;
        text-align: center;
    }

}
